*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, 
body {
    height: 100%;
}
 body {
    background: rgb(255, 132, 100);
    background: linear-gradient(90deg, rgba(255, 132, 100, 1) 0%,
    rgba(253, 105, 165, 1) 100%);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#card-body {
    background-color: #fff;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
}
#card-body h2 {
    font-size: 70px; 
    margin-bottom: 15px;   
}
#card-btn button {
    border-radius: 10px;
    border: 0;
    color: #262626;
    padding: 10px 35px;
    margin: 0px 5px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
    font-weight: bold;
}
#decrement {
    background-color: #f6e58d;
}
#reset {
    background-color: green;
}
#increment {
    background-color: red;
}
#decrement:hover {
    background: green;
    color: #fff;
}
#reset:hover {
    background: red;
    color: #fff;
}
#increment:hover {
    background: orange;
    color: #fff;
}